<html>
    <head>
        <title>Hotel Management</title>
        <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="./style.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/new-room">Hotel Management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              
                <div class="navbar-nav">
                    <a class="nav-item nav-link " href="/room-new">New Room </a>
                      <a class="nav-item nav-link active" href="/dashboard">Admin Dashboard<span class="sr-only">(current)</span></a>
                      </div>
              <span class="navbar-text">
                <button type="button" class="btn btn-danger" onclick="location.href='/login'">Log Out</button>
              </span>
            </div>
          </nav>
          <br>
          <div class="container">
            <br>
            <div class="container">
            <table class="table table-light">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Type</th>
                  <th scope="col">Cost</th>
                  <th scope="col">Members</th>
                  <th scope="col">Facilities</th>
                 <th scope="col">Tools</th>
                </tr>
              </thead>
              <tbody>
                  <% hotel.forEach(function (x) {%> 
                <tr>
                 
                  <td><%= x.type %></td>
                  <td><%= x.cost  %> </td>
                  <td><%= x.members %></td>
                  <td><%= x.facilities %></td>
                  <td>
                    <button class="btn btn-success" onclick="location.href='/update/<%= x.hotel_rid %>'">
                      Update
                      </button>
                      <% if(x.members!=0){ %>
                        <button class="btn btn-primary" onclick="location.href='/vacant/<%= x.hotel_rid %>'">
                          Vacant
                          </button>
                      <% } %> 
                      <button class="btn btn-danger" onclick="location.href='/delete/<%= x.hotel_rid %>'">
                      Delete
                      </button>
                  </td>
                </tr>
              <% }); %> 
              </tbody>
            </table>
        </div>  
         
    </body>
</html>